/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/* Variables */
:root {
    /* Fonts */
    --sans-serif: "Cabin", sans-serif;

    /* Colors */
    --primary: #060606;
    --secondary: #74d2a3;
    --dark: #070332;
    --dark-alt: #6c6c6c;
    --black: #1e1e1e;
    --light: #d1d1d1;
    --light-alt: #f5f4ff;
    --white: #ffffff;

    /* Shadow */
    --shadow: 0px 4px 20px 0px #ccc7ff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-color: var(--primary) transparent;
    scrollbar-width: thin;
}
*::selection {
    background: var(--secondary);
    color: var(--white);
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: var(--dark);
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--sans-serif);
    background: rgb(39 39 42);
    overflow-x: hidden;
    position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

img,
video {
    width: 100%;
}

/* animations */
@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking:focus {
    animation: blinking;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
